<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/ehr.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/cus.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/style.css' %}" />
<script>

function getEmpInfo() {
	var PYCALAction = $("#btngetEmpInfo").val()
	document.getElementById("__PYCALAction").value = PYCALAction;
}

function getCalDebugTest(action)
{
	var xmlhttp;
	xmlhttp=new XMLHttpRequest();
	
	xmlhttp.onreadystatechange=function() {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200) {
	      document.getElementById("calDebug").value=xmlhttp.responseText;
	  }
	}
	
	var calempno = document.getElementById("calempno").value;
	var calpackagename = document.getElementById("calpackagename").value;
	xmlhttp.open("GET", "updatePYCALAbout/?action=" + action +"&calempno=" + calempno + "&calpackagename=" + calpackagename , true);
	xmlhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
	xmlhttp.send();
}


</script>


<title>AssForGaia</title>
</head>

<body class='cusbody'>
<header>
<div class='bg-bread'>
    <table class='dtBread'>
        <tr>
            <td text-align="left">
	            <input class='autobutton' name="resHome" value="返回首页" id="resHome" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome2" value="空" id="resHome2" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome3" value="空" id="resHome3" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome4" value="空" id="resHome4" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome5" value="空" id="resHome5" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
            </td>   
        </tr>
    </table>
</div>
</header>
<div class='bg-title-content' style="min-height:150pt;">
	<div class='bg-logon-content leftcontent'>
	<form id='form1' action='updatePYCALAbout/' method="POST">
	<input type="hidden" name="__PYCALAction" id="__PYCALAction" value="" />
	<table id="Table4" class='dtNAV'>
		<tr>
        	<td class='TD1'>调试工号</td>
        	<td class='TD2'><input name="calempno" maxlength="40" id="calempno" class="TextBox normal-text" style="width:200px;" type="text"/>
        	 </td>	
      	</tr>
      	<tr>
        	<td class='TD1'>调试薪资包名称</td>
        	<td class='TD2'><input name="calpackagename" maxlength="40" id="calpackagename" class="TextBox normal-text" style="width:200px;" type="text"/>
        	 </td>	
      	</tr>
	</table>
	<table class='dtBread'>
        <tr>
            <td><input class='contentbutton autowidth' name="btngetEmpInfo" value="点击查看人事资料" id="btngetEmpInfo" type="submit" onclick="getEmpInfo()"/></td>
            <td><input class='contentbutton autowidth' name="btngetCalDebug" value="点击查看调试信息" id="btngetCalDebug" type="button" onclick="getCalDebugTest(this.value)"/></td>
            <td></td>   
        </tr>
        <tr>
        	<td></td> 
        </tr>
    </table>
	</form>
	</div>
</div>
<div class='bg-title-content'>	
	<div class='bg-logon-content leftcontent minwidth'>
	<table id="Table4" class='dtNAV'>
		<tr>
        	<td>调试信息</td>
      	</tr>
      	<tr>
        	<td><textarea style="width:100%;min-height:100px" rows="15" cols="20" name="calDebug" id="calDebug" class="TextBox normal-text"></textarea>
        	
        	
        	 </td>	
      	</tr>
	</table>
	</div>
</div>	
		


<script type="text/javascript" src="{% static 'gurujs/scripts.js' %}"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>    
<script>	

	var defaultcalempno = {{defaultcalempno|safe}}
    document.getElementById("calempno").value = defaultcalempno; 
	var defaultcalpackagename = {{defaultcalpackagename|safe}}
    document.getElementById("calpackagename").value = defaultcalpackagename;
	var resultcalDebug = {{resultcalDebug|safe}}
    document.getElementById("calDebug").value = resultcalDebug; 
	
</script>
</body>
</html>