<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/ehr.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/cus.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/style.css' %}" />
<script>

function updatePublicGroupByDoc() {
	var action = $("#btnupdatePublicGroupByDoc").val()
	document.getElementById("__Action").value = action;
}
function importPublicDetailByDoc() {
	var action = $("#btnimportPublicDetailByDoc").val()
	document.getElementById("__Action").value = action;
}
function updateExtendGroup() {
	var action = $("#btnupdateExtendGroup").val()
	document.getElementById("__Action").value = action;
} 
function updateInsAreaByDoc() {
	var action = $("#btnupdateInsAreaByDoc").val()
	document.getElementById("__Action").value = action;
} 

function updateFormu() {
	var CFGAction = $("#btnupdateFormu").val()
	document.getElementById("__CFGAction").value = CFGAction;
}
function updatePool() {
	var CFGAction = $("#btnupdatePool").val()
	document.getElementById("__CFGAction").value = CFGAction;
}
function updateFormual() {
	var CFGAction = $("#btnupdateFormual").val()
	document.getElementById("__CFGAction").value = CFGAction;
}

function updateInsAreaDetailByDoc() {
	var INSAction = $("#btnupdateInsAreaDetailByDoc").val()
	document.getElementById("__INSAction").value = INSAction;
}
</script>


<title>AssForGaia</title>
</head>

<body class='cusbody'>
<header>
<div class='bg-bread'>
    <table class='dtBread'>
        <tr>
            <td text-align="left">
	            <input class='autobutton' name="resHome" value="返回首页" id="resHome" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome2" value="空" id="resHome2" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome3" value="空" id="resHome3" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome4" value="空" id="resHome4" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
	            <input class='autobutton' name="resHome5" value="空" id="resHome5" type="button" onclick="window.location.href = '/GURU/main'; return false;"/>
            </td>   
        </tr>
    </table>
</div>
</header>
<div class='bg-title-content'>
	<div class='bg-logon-content leftcontent minwidth'>
	<form id='form1' action='updatePayroll/' method="POST">
	<input type="hidden" name="__Action" id="__Action" value="" />
	
	<table id="Table3" class='dtNAV'>
		<tr>
        	<td class='TD1'>规格文件地址</td>
        	<td class='TD2'><input name="filename" maxlength="40" id="filename" class="TextBox normal-text" style="width:200px;" type="text"/>
        	 </td>	
      	</tr>
	</table>
	<table class='dtBread'>
        <tr>
            <td><input class='contentbutton autowidth' name="btnupdatePublicGroupByDoc" value="更新公用代码群组" id="btnupdatePublicGroupByDoc" type="submit" onclick="updatePublicGroupByDoc()"/></td>
            <td><input class='contentbutton autowidth' name="btnimportPublicDetailByDoc" value="导入公用代码明细" id="btnimportPublicDetailByDoc" type="submit" onclick="importPublicDetailByDoc();"/></td> 
            <td><input class='contentbutton autowidth' name="btnupdateExtendGroup" value="更新业务数据" id="btnupdateExtendGroup" type="submit" onclick="updateExtendGroup();"/></td>   
        </tr>
        <tr>
            <td><input class='contentbutton autowidth' name="btnupdateInsAreaByDoc" value="初始化缴纳地区" id="btnupdateInsAreaByDoc" type="submit" onclick="updateInsAreaByDoc()"/></td>
            <td></td> 
            <td></td>   
        </tr>
    </table>
	</form>
	</div>
	
	<div class='bg-logon-content leftcontent minwidth'>
	<form id='form2' action='updateFormuAbout/' method="POST">
	<input type="hidden" name="__CFGAction" id="__CFGAction" value="" />
	<table id="Table4" class='dtNAV'>
		<tr>
        	<td class='TD1'>配置文件地址</td>
        	<td class='TD2'><input name="cfgfilename" maxlength="40" id="cfgfilename" class="TextBox normal-text" style="width:200px;" type="text"/>
        	 </td>	
      	</tr>
	</table>
	<table class='dtBread'>
        <tr>
            <td><input class='contentbutton autowidth' name="btnupdateFormu" value="更新辅助函数" id="btnupdateFormu" type="submit" onclick="updateFormu()"/></td>
            <td><input class='contentbutton autowidth' name="btnupdatePool" value="更新程序池" id="btnupdatePool" type="submit" onclick="updatePool();"/></td> 
            <td><input class='contentbutton autowidth' name="btnupdateFormual" value="更新公式" id="btnupdateFormual" type="submit" onclick="updateFormual();"/></td>   
        </tr>
    </table>
	</form>
	</div>
	
	<div class='bg-logon-content leftcontent minwidth'>
	<form id='form3' action='updateInsAbout/' method="POST">
	<input type="hidden" name="__INSAction" id="__INSAction" value="" />
	<table id="Table4" class='dtNAV'>
		<tr>
        	<td class='TD1'>社保配置文件地址</td>
        	<td class='TD2'><input name="insfilename" maxlength="40" id="insfilename" class="TextBox normal-text" style="width:200px;" type="text"/>
        	 </td>	
      	</tr>
	</table>
	<table class='dtBread'>
        <tr>
            <td><input class='contentbutton autowidth' name="btnupdateInsAreaDetailByDoc" value="初始化保险缴纳体系" id="btnupdateInsAreaDetailByDoc" type="submit" onclick="updateInsAreaDetailByDoc()"/></td>
            <td></td> 
            <td></td>   
        </tr>
    </table>
	</form>
	</div>
		
</div>

<script type="text/javascript" src="{% static 'gurujs/scripts.js' %}"></script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>    
<script>
    var defaultFileName = {{defaultFileName|safe}}
    document.getElementById("filename").value = defaultFileName;   

	var defaultCFGFileName = {{defaultCFGFileName|safe}}
    document.getElementById("cfgfilename").value = defaultCFGFileName;  
	
	var defaultINSfilename = {{defaultINSfilename|safe}}
    document.getElementById("insfilename").value = defaultINSfilename; 	
</script>
</body>
</html>