<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/ehr.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'gurucss/cus.css' %}" />
<title>AssForGaia</title>
</head>
<body>
<div class='bg-logon-content'>
    <form action="saveNewConnecttion/" method="POST">
    {% csrf_token %}
    <div class='tabledtNav'><table id="Table3" class='dtNAV'>
		<tr>
        	<td class='TD1'>数据源名称</td>
        	<td class='TD2'><input name="sourcename" maxlength="40" id="sourcename" class="TextBox normal-text" style="width:200px;" type="text"> </td>	
      	</tr>
      	<tr>
        	<td>服务器名称</td>
        	<td><input name="servername" maxlength="40" id="servername" class="TextBox normal-text" style="width:200px;" type="text"> </td>	
      	</tr>
      	<tr>
        	<td>用户名</td>
        	<td><input name="dbusername" maxlength="40" id="dbusername" class="TextBox normal-text" style="width:200px;" type="text"> </td>	
      	</tr>
      	<tr>
        	<td>用户密码</td>
        	<td><input name="dbpsw" maxlength="40" id="dbpsw" class="TextBox normal-text" style="width:200px;" type="text"> </td>	
      	</tr>
      	<tr>
        	<td>数据库名称</td>
        	<td><input name="dbname" maxlength="40" id="dbname" class="TextBox normal-text" style="width:200px;" type="text"> </td>	
      	</tr>
      	<tr>
      		<td colspan='2'><input class='btn-primary btn-lg btn-block' name="btnUpdate" value="更新链接" id="btnUpdate" title="更新链接" type="submit"></td>
      	</tr>
	</table></div>
      	
    </form>
</div>

<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>    
<script>
    $(document).ready(function(){
    	$("#btnUpdate").click(function(){
    		var servername = $ ("servername").val();
    		var dbusername = $ ("dbusername").val();
    		var dbpsw = $ ("dbpsw").val();
    		var dbname = $ ("dbname").val();
    		var sourcename = $ ("sourcename").val();
	    });	
    });	
    
    
    
    
    </script>
</body>
</html>