@CHARSET "UTF-8";

/*=======================================
File Name : EHR.CSS
File Content : Define Ehr Web System CSS
Define Date : 2002/11/26
Define Author : Davi Xiong
Version : 1.0

Note : 
=========================================*/

body, Label, input, textarea, select, pre {
    font-size: 12px;
    font-family: "Microsoft Sans Serif", "宋体";
}

form {
    margin-bottom: 0;
}

Table {
    font-size: 12px;
}

.bodybgcolor {
    background: #e5e5e8;
}

/*if div has tabIndex attribute, it has outline in chrome when it focused*/
div {
    outline:none;
    height:100%;
}

/* HyperLink CSS */
A {
    color: #2F2F2F;
    text-decoration: underline;
}

    A:link {
        color: #2F2F2F;
        text-decoration: underline;
    }

    A:visited {
        color: #2F2F2F;
        text-decoration: underline;
    }

    A:active {
        color: #2F2F2F;
        text-decoration: underline;
    }

    A:hover {
        color: #2F2F2F;
        text-decoration: underline;
    }

/* Page normal item CSS */

.Body {
    background-color: #fff;
    margin: 0px;
}

.Body1 {
    background-color: #e5e5e8;
}


/*	<ASP:Button></ASP:Button> */
.ButtonDefault {
    font-size: 12px;
    border: 0px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    padding-top: 2px;
    background-repeat: no-repeat;
}

.Button, .default_btn {
    border: 1px solid #3e8f3e;
    border-radius: 3px;
    background-color: #009E12;
    color: #fff;
    height: 25px;
    padding: 0 12px;
    *padding: 0 5px;
    width: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
}

.button-disabled {
    background-color: #419641;
    background-image: none;
    opacity: 0.30;
    filter: alpha(opacity=30);
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
    pointer-events: none;
}

.button-active {
    background-color: #419641;
    background-position: 0 -15px;
}

.button-selected {
    background-color: #428BCA;
    border: #428BCA;
    border-radius: 3px;
    color: white;
    background-image: none;
}
/*	<ASP:Button></ASP:Button> */
.Button2 {
    width: 65px;
    font-size: 12px;
    border: 0px;
    height: 19px;
    line-height: 14px;
    background-color: transparent;
    font-family: "Microsoft Sans Serif", "宋体";
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    _padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: bottom;
    *vertical-align: auto;
}

.ImgButton {
    font-size: 12px;
    border: 0px; /*height :26px; 		width :94px;*/
    height: 16px;
    width: 16px;
    background-color: transparent;
    cursor: pointer;
}

/*	<ASP:Button></ASP:Button> */
.SmallButton {
    font-size: 12px;
    border: 0px; /*height :26px; 		width :94px;*/
    height: 24px;
    width: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*	<ASP:CheckBox></ASP:CheckBox> */
.CheckBoxDefault {
    line-height: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    border-width: 0px;
    margin-top: 0px;
    white-space: nowrap;
}

    .CheckBoxDefault input, .CheckBoxDefault span {
        line-height: 13px;
        vertical-align: middle;
        display: inline-block;
    }

.CheckBox {
    height: 13px;
    width: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    border-width: 0px;
    margin-top: 3px;
}
/*	Normal Lable <ASP:Lable></ASP:Label> */
.Label {
    font-size: 12px;
    display: inline-block !important;
    width: 100% !important;
    text-align: right !important;
    white-space: nowrap;
    color: #333;
    line-height: 30px;
}

/* Bold	Normal Lable <ASP:Lable></ASP:Label> */
.BLabel {
    font-weight: bold;
    font-size: 12px;
}

/*	Topic Lable <ASP:Lable></ASP:Label> */
.LabelTopic {
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}

.IconLabelTopic {
    font-weight: bold;
    font-size: 12px;
    background-image: url(../Image/arrow_main.gif);
    background-repeat: no-repeat;
    padding-left: 15px;
    display: inline-block;
    background-position: 0 50%;
}

/*	TextMode =
 SingleLine <ASP:TextBox></ASP:TextBox> */
.TextBox {
    background-color: #fff;
    border: 1px solid #aaa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    color: #555;
    border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    height: 25px;
    min-height: 25px;
    line-height: normal;
    *line-height: 19px;
}

input[type="file"]::-webkit-file-upload-button {
    padding: 2px 5px 2px 5px;
    background-color: #ECE9D8 !important;
    border: 0;
}

/*	TextMode =
 SingleLine <ASP:TextBox></ASP:TextBox> */
.TextBoxReadOnly {
    background-color: #F5F5F5;
    border: 1px solid #ababab;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    color: #555;
    border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    height: 25px;
    min-height: 25px;
    line-height: normal;
    *line-height: 19px;
}

/*	TextMode = MultiLine <ASP:TextBox></ASP:TextBox> */
.TextArea {
    font-size: 12px;
    border-color: #D7D8D9;
    border-width: 1px;
    background-color: White;
}

/*	<ASP:ListBox></ASP:ListBox> */
.ListBox {
    color: black;
    font-size: 12px;
    border-style: solid;
    border-width: 1;
}

/*	<ASP:DropDownList></ASP:DropDownList> */
.DropDownList {
    color: black;
    font-size: 12px;
    border-style: solid;
    border-color: #ababab;
    border-width: 1px;
    background-color: #ffffff;
    height: 25px;
    line-height: 25px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.Table {
    border-right: #ababab 1px solid;
    border-top: #ababab 1px solid;
    border-left: #ababab 1px solid;
    border-bottom: #ababab 1px solid;
}

.TableField {
    border: #d0d0d0 1px solid;
    background-color: #fff;
}

/* for query condition table */
.TableWithBackColor {
    border-right: #999999 1px solid;
    border-top: #999999 1px solid;
    border-left: #999999 1px solid;
    border-bottom: #999999 1px solid;
    background-color: #EDEDF0;
    border-color: #999999;
    width: 100%;
    height: 100%;
}

.RadioButtonList {
    font-size: 12px;
    height: 20px;
}

.listBarTable {
    font-size: 13px;
    color: DeepPink;
    padding-right: 5px;
    padding-left: 4px;
    padding-top: 5px;
    width: expression(158*screen.height/768);
}

/* for labeled link buttons */
.currentLabel {
    background-color: LightSkyBlue;
}


.topMargin {
    height: 13px;
}

.bottomMargin {
    height: 15px;
}


.leftMargin {
    height: 10px;
}

.rightMargin {
    height: 10px;
}

/*　列举定义　*/
Menu {
    font-size: 12px;
    color: #000000;
    font-family: "Microsoft Sans Serif", "宋体";
}

/*　表格定义　*/
Table {
    padding: 0px;
    font-family: "Microsoft Sans Serif", "宋体";
    font-size: 12px;
}

Td, Th {
    font-family: "Microsoft Sans Serif", "宋体";
}


/*  链接定义 */
A {
    text-decoration: none;
    color: #000000;
}

    A:hover {
        color: #3333CC;
        text-decoration: none;
    }

/*＝＝＝＝＝＝＝＝＝＝区块定义＝＝＝＝＝＝＝＝＝＝＝*/

/*　+++++头部文件定义+++++　*/
.Header {
    background-image: url(../Image/banner_middle.gif);
    height: 53px;
    background-repeat: repeat-x;
}

.Header_banner {
    background-image: url(../Image/banner_left.gif);
    background-repeat: no-repeat;
    background-position: left;
    height: 53px;
    width: 100%;
}

.Header_banner_width {
    width: 250px;
}

.Header_right {
    background-image: url(../Image/banner_right.gif);
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
}

.Header_welcome {
    color: #FFFFFF;
    text-align: right;
}

.Header_navi {
    color: #192490;
    text-align: right;
    height: 24px;
}

    .Header_navi a {
        text-decoration: none;
        color: #192490;
    }

        .Header_navi a:hover {
            text-decoration: none;
            color: #3333CC;
        }

.Navi {
    height: 23;
    background-image: url(../Image/navi_bg.gif);
    background-repeat: repeat-x;
    text-align: left;
}

.Navi_date {
    color: #017FCB;
    width: 165px;
}

/*  +++++Group_left 区域定义+++++*/
.group {
    font-family: "Microsoft Sans Serif", "宋体";
    font-weight: bold;
    color: #2D257B;
    letter-spacing: 0.3em;
    background-image: url(../Image/group_middle.gif);
    background-repeat: repeat-x;
    width: 100%;
}

    .group a {
        color: #2D257B;
        text-decoration: none;
    }

        .group a:hover {
            color: #2D257B;
            text-decoration: none;
        }

.group_col {
    font-family: "Microsoft Sans Serif", "宋体";
    color: #4B4F52;
}

    .group_col a {
        text-decoration: none;
        color: #4B4F52;
    }

        .group_col a:hover {
            text-decoration: none;
            color: #4B4F52;
        }

.col_selected {
    background-color: #FEDE89;
}
/*  +++++  Main操作区  +++++  */
.Main_bg {
    background-color: #E5E4E9;
}

.pageNavi {
    background-color: A9B2D3;
    text-decoration: none;
    height: 18px;
    text-align: left;
    text-indent: 9pt;
}
/*present operate area*/
.pageNavi_selcol {
    color: #55589D;
}
/*　+++++脚部文件定义+++++　*/
.Footer {
    font-family: "Microsoft Sans Serif", "宋体";
    background-color: #F2F2F2;
    height: 17px;
    text-align: right;
}

/* +++++eHRMainFrame+++++ */
.Calender {
    font-size: 12px; /* 		color:#007FD0; 		*/
}

.ToolBarLable {
    font-size: 12px;
    color: #1E2494;
    cursor: pointer;
}

.CurrentPageIndexer {
    color: #342576;
}

DIV.PageNavigator {
    cursor: pointer;
}

DIV.MainMenu {
    cursor: pointer;
    color: #342576;
    font-weight: bold;
    width: 100%;
}

SPAN.MenuItem {
    color: #4C5259;
    cursor: pointer;
}

TD.GroupLeft {
    background-image: url(../Image/group_left.gif);
    background-repeat: no-repeat;
}

TD.GroupRight {
    background-image: url(../Image/group_right.gif);
    background-repeat: no-repeat;
}

TD.GroupMiddle {
    background-image: url(../Image/group_middle.gif);
    background-repeat: repeat-x;
}

TD.ModuleMenu {
    background-color: E5E5E8; /*background-color:E2E2E2;*/
}

TD.NavigatorBar {
    background-color: A9B2D2;
}

.NetGridLink {
    color: Black;
    text-decoration: underline;
    cursor: pointer;
}


.CompletionList {
    border-right: buttonshadow 1px solid;
    border-top: buttonshadow 1px solid;
    border-left: buttonshadow 1px solid;
    border-bottom: buttonshadow 1px solid;
    list-style-type: none;
    visibility: hidden;
    color: windowtext;
    background-color: window;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto !important;
    cursor: pointer;
    z-index: 9999;
}

.CompletionListItem, .CompletionListHighlightedItem {
    padding: 5px;
    color: windowtext;
    background-color: window;
    display: block;
    width: 100%;
    white-space: nowrap;
}

.CompletionListHighlightedItem {
    color: #004B87;
    background-color: #77BAF1;
}

.GrayText {
    color: Gray;
}

/* Login  */
.LoginLable1024 {
    z-index: 101;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    text-transform: capitalize;
    word-spacing: 3pt;
    padding-right: 10px;
}

.LoginText1024 {
    z-index: 102;
    color: #000000;
    border-right: #B9B9B9 1px solid;
    border-top: #B9B9B9 1px solid;
    border-left: #B9B9B9 1px solid;
    border-bottom: #B9B9B9 1px solid;
    width: 150px;
    height: 20px;
    font-size: 14px;
}

.LoginButton {
    width: 150px;
    word-spacing: 3pt;
    height: 22px;
    border-style: none;
    background-color: Transparent;
    font-size: 12px;
    border: 0px;
    background-color: transparent;
    font-family: "Microsoft Sans Serif", "宋体";
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
    overflow: visible;
    *padding: 0 6px;
    _padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: bottom;
    *vertical-align: auto;
}

.LoginButtonOver {
    width: 150px;
    font-family: Arial;
    font-size: 12px;
    word-spacing: 3pt;
    background-image: url(../image/Login_button_bg_02.jpg);
    cursor: pointer;
    height: 22px;
    border-style: none;
    background-color: Transparent;
}

.SelectDomain1024 {
    z-index: 103;
    width: 150px;
    color: #000000;
    border-right: #B9B9B9 1px solid;
    border-top: #B9B9B9 1px solid;
    border-left: #B9B9B9 1px solid;
    border-bottom: #B9B9B9 1px solid;
    font-size: 12px;
    height: 20px;
}

.btnChangPassWord {
    z-index: 101;
    color: #0089E0;
    font-family: Arial;
    font-size: 12px;
    word-spacing: 3pt;
    padding-right: 10px;
}

.WebGridText tr th, tr td {
    overflow: hidden;
}

.FrameTab {
    color: #000000;
    font-family: Microsoft Sans Serif,"宋体";
    font-size: 12px;
    line-height: 25px;
}

.Star {
    padding-left: 5px;
}

.ButtonSplit {
    margin-right: 5px;
}

.person_detail {
    background-image: url(../image/epersonnel.gif);
    background-repeat: no-repeat;
    background-position: left;
    display: inline-block;
    text-indent: 38px;
    overflow: visible;
    margin: 0 0;
    padding: 0 0;
    padding-top: 15px;
    cursor: pointer;
}

.c_calendar {
    line-height: 20px;
    display: inline;
}

    .c_calendar .calendar_txt {
        border: 1px solid #ABABAB;
        width: 126px;
    }

    .c_calendar .calendar_txt_readonly {
        width: 150px;
    }

    .c_calendar .calendar_btn {
        margin: 0 0;
        padding: 0 0;
        width: 15px;
        height: 16px;
        border: none 0;
        display: inline-block;
        cursor: pointer;
        background-image: url(../image/icon_date.gif);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        text-indent: -9999px;
        margin-left: 5px;
        vertical-align: middle;
    }

.eidt_btn {
    margin: 0 0;
    padding: 0 0;
    width: 16px;
    height: 16px;
    border: none 0;
    display: inline-block;
    cursor: pointer;
    background-image: url(../image/icon_edit.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.delete_btn {
    margin: 0 0;
    padding: 0 0;
    width: 16px;
    height: 16px;
    border: none 0;
    display: inline-block;
    cursor: pointer;
    background-image: url(../image/icon_delete.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.add_btn {
    margin: 0 0;
    padding: 0 0;
    width: 16px;
    height: 16px;
    border: none 0;
    display: inline-block;
    cursor: pointer;
    background-image: url(../image/icon_exit.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.detail_btn {
    margin: 0 0;
    padding: 0 0;
    width: 16px;
    height: 16px;
    border: none 0;
    display: inline-block;
    cursor: pointer;
    background-image: url(../image/icon_file.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.tag_right_split {
    margin-right: 5px;
}

.tag_left_split {
    margin-left: 5px;
}

.tag_bottom_split {
    margin-bottom: 5px;
}

.tag_top_split {
    margin-top: 5px;
}

.tag_align {
    text-align: center;
    vertical-align: middle;
}

.loading {
    background-image: url("../image/loading.gif");
    background-repeat: no-repeat;
    background-color: Transparent;
    background-position: center;
    width: 32px;
    height: 32px;
    position: absolute;
}

.loading2 {
    background-image: url("../image/loading2.gif");
    background-repeat: no-repeat;
    background-color: Transparent;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
    display: inline\0; /* ie 8/9*/
    *display: inline; /* ie 7*/
    _display: inline; /* ie 6*/
    margin: 0 3px;
}

/*Organise Extension*/
#org_drop_list {
    background-color: #FFF;
    border: solid 1px #999;
    padding: 3px 3px;
    position: absolute;
    display: none;
    overflow: hidden;
    z-index: 999;
    min-width: 200px;
    -webkit-box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.8);
    -moz-box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.8);
    box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.8);
    ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#646464')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#646464');
}

    #org_drop_list .text-search {
        margin: 3px 0;
    }

    #org_drop_list ul, #org_drop_list li {
        list-style-type: none;
        margin: 0 0;
        padding: 0 0;
        display: block;
    }

    #org_drop_list li, #org_drop_list pre {
        height: 25px;
        line-height: 25px;
        vertical-align:middle;
    }

    #org_drop_list .search .hover {
        background-color: #77BAF1;
    }

    #org_drop_list pre {
        padding: 0 0;
        margin: 0 3px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        display:inline-block;
        *width: 100%;
    }

    #org_drop_list .search li a {
        text-decoration: none;
        display: block;
        color: WindowText;
    }

    #org_drop_list .result {
        background-color: #f1dc7a;
    }

        #org_drop_list .result li {
            position: relative;
        }

        #org_drop_list .result .delete-icon {
            background-position: -167px -92px;
            *background-position: -167px -95px;
            width: 16px;
            line-height: 20px;
            height: 20px;
            margin-left: 3px;
            display: inline-block;
            *display: inline;
            zoom: 1;
            position: absolute;
            right: 0;
            top: 0;
            *top: 3px;
        }

        #org_drop_list .result pre {
            margin-right: 20px;
        }
/*Organise Extension*/








.page_title {
    font-weight: bold;
    margin: 0 0;
    margin-bottom: 5px;
    padding: 0 0;
    padding-left: 15px;
    background-image: url("../Image/arrow_main.gif");
    background-repeat: no-repeat;
    background-position: left;
}

.TDLine {
    border-right: #ababab 1px solid;
    border-bottom: #ababab 1px solid;
}

.TableLine {
    border-top: #ababab 1px solid;
    border-left: #ababab 1px solid;
}


.rd-radio {
    float: left;
}

.zhilian-checkbox-span {
    width: 100px;
}


.zhilian-popdiv {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 9;
    position: absolute;
    width: 600px;
    height: 300px;
    border: solid 1px #999;
    background-color: #FFF;
}


.rd-select {
    margin-top: 3px;
    height: 23px;
}

.select-big {
    width: 180px;
}

.select-small {
    width: 88px;
}

.append-popdiv {
    background-color: #999999;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}


.condition-div {
    display: none;
    border: solid 1px #999;
    background-color: #FFF;
    z-index: 9;
    position: absolute;
    width: 740px;
}


.showinfo-div {
    font-size: 12px;
    display: none;
    border: solid 1px #999;
    background-color: #FFF;
    z-index: 9;
    position: absolute;
    width: 350px;
    overflow: auto;
}

.zhilian-append-inner-div {
    display: none;
    background-color: #E5E5E8;
    border-right: #ababab 1px solid;
    border-top: #ababab 1px solid;
    border-left: #ababab 1px solid;
    border-bottom: #ababab 1px solid;
}

.zhilian-popdownload-div {
    display: none;
    width: 400px;
    position: absolute;
    z-index: 99;
    display: none;
    background-color: White;
    border-right: #ababab 1px solid;
    border-top: #ababab 1px solid;
    border-left: #ababab 1px solid;
    border-bottom: #ababab 1px solid;
}





.btn {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #919191;
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
}

a.btn {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:link.btn {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:hover.btn {
    text-decoration: none;
    background-color: #e6e6e6;
    color: #333;
    background-position: 0 -30px;
}


/******Pager Css:begin******/
a.pager {
    float: left;
    margin: 3px 0;
    height: 24px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: solid 1px #dbdbde;
    vertical-align: middle;
    background-color: #f3f3f4;
    padding: 0 5px;
    margin-right: -1px;
}

a:link.pager {
    text-decoration: none;
}

a:hover.pager {
    background-color: #b6bdca;
}

a.pager-active {
    background-color: #1984c8;
    color: #fff;
}

.pager-btn {
    display: inline-block;
    height: 16px;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
}

.pager-icon {
    width: 16px;
    background-repeat: no-repeat;
    background-image: url(../image/sprite.png);
    font-size: 0;
    line-height: 0;
}

.pager-first {
    background-position: 0 -112px;
    margin-top: 4px;
}

.pager-prev {
    background-position: 0 -48px;
    margin-top: 4px;
}

.pager-next {
    background-position: 0 -16px;
    margin-top: 4px;
}

.pager-last {
    background-position: 0 -80px;
    margin-top: 4px;
}

.pager-number {
    margin: 2px 4px 0 4px;
}

.pager-list {
    float: left;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

    .pager-list li {
        float: left;
        display: inline-block;
    }

.pager-sizes-container {
    float: left;
    display: inline-block;
    line-height: 25px;
    margin-left: 10px;
}

.pager-sizes {
    width: 50px;
    height: 25px;
    margin-right: 5px;
    margin-top: 3px;
}

.pager-count-container {
    float: right;
    display: inline-block;
    line-height: 25px;
    margin-right: 5px;
}
/******Pager Css:end******/


.normal-text {
    background-color: #fff;
    border: 1px solid #aaa;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    color: #555;
    border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
    height: 25px;
    min-height: 25px;
    line-height: normal;
    *line-height: 19px;
}


.clear-float {
    clear: both;
}

.self-events {
    margin-top: 5px;
    float: left;
    width: 300px;
    border: solid 1px #ddd;
}

.self-events-header {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    background-color: #e8f1f6;
    line-height: 30px;
}

.self-events-flag {
    background-position: 0 0;
}

.self-events-message {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.self-module {
    float: left;
    width: 320px;
    vertical-align: top;
    overflow: hidden;
    border: solid 1px #ddd;
    height: 230px;
    z-index: 1;
    margin-left: 5px;
    margin-top: 5px;
}

.self-module-extend {
    overflow: visible;
}

.self-module-header {
    font-weight: normal;
    font-size: 12px;
    margin: 0;
    background-color: #e8f1f6;
    line-height: 30px;
}

.self-title {
    float: left;
}

.self-icon {
    background-repeat: no-repeat;
    background-image: url(../image/self-modules.png);
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    float: left;
}

.self-module-personal {
    background-position: -16px 0;
}

.self-module-time {
    background-position: -32px 0;
}

.self-module-payroll {
    background-position: -48px 0;
}

.self-module-performance {
    background-position: -64px 0;
}

.self-module-training {
    background-position: -80px 0;
}

.self-module-insurance {
    background-position: -96px 0;
}

.self-module-recruitment {
    background-position: -112px 0;
}

.self-module-functions {
    background-color: #fff;
    height: 200px;
    overflow: hidden;
}

.self-module-functions-extend {
    position: absolute;
    width: 320px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 9999;
    overflow-y: scroll;
    border: solid 1px #e8f1f6;
    margin-left: -1px;
    box-shadow: 1px 1px 16px 0px #888888;
}

.self-module-functions ul, .self-module-functions li, .self-events ul, .self-events li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.self-module-functions li, .self-events li {
    line-height: 25px;
    background-repeat: no-repeat;
    background-image: url(../image/list-img.png);
    background-position: 5px center;
    padding-left: 18px;
}

.self-module-functions a, .self-events a {
    text-decoration: none;
    color: #666;
}

    .self-module-functions a:hover, .self-events a:hover {
        text-decoration: underline;
        color: #666;
    }

.self-module-more {
    cursor: pointer;
    float: right;
    margin-right: 5px;
    color: #336699;
}

a.self-module-more {
    text-decoration: underline;
    color: #336699;
}

a:hover.self-module-more {
    text-decoration: underline;
    color: #336699;
}











.grid-table-container {
    height: 100%;
    vertical-align: top;
    border: solid 1px #d0d0d0;
    background-color: #fff;
}

.grid-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: solid 1px #d0d0d0;
    border-left: none;
    border-right: none;
    border-top: none;
    table-layout: fixed;
    width: 100%;
}

    .grid-table th, .grid-table td {
        border: solid 1px #d0d0d0;
        height: 28px;
    }

    .grid-table th {
        background-color: #f3f3f4;
        border-top: none;
        color: #333333;
        font-weight: bold;
    }

    .grid-table td {
        padding: 5px 3px;
        height: auto;
    }

    .grid-table .default td {
        background-color: #fff;
    }

    .grid-table .alternate td {
        background-color: #f9f9f9;
    }

    .grid-table .active td {
        color: #fff;
        background-color: #1984c8;
    }





.global-hide, .global-hidden {
    display: none;
}

.global-clear-right {
    display: inline !important;
    text-align: left !important;
    width: auto !important;
    height: auto !important;
    line-height: normal !important;
    white-space: normal;
}

.global-body {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.global-body-sides-space {
    padding: 5px;
}

.global-empty-space {
    padding: 5px;
}

.global-right-empty-space {
    padding-right: 5px;
}

.global-left-empty-space {
    padding-left: 5px;
}

.global-top-empty-space {
    padding-top: 5px;
}

.global-bottom-empty-space {
    padding-bottom: 5px;
}

.global-container, .global-tree-container {
    border: #ababab 1px solid;
    background-color: #fff;
    vertical-align: top;
}

.global-icons, .global-normal-icons {
    background-image: url(../Content/Images/glyphicons-halflings-white.png);
    background-repeat: no-repeat;
    line-height: 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0;
    padding: 0;
}

.global-normal-icons {
    background-image: url(../Content/Images/glyphicons-halflings-bright.png);
}

.global-search-icon {
    background-image: url('../Image/search_16.gif');
}

.global-select-icon {
    background-image: url('../Image/icon_select.gif');
    background-position: 50%;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.global-checkbox span {
    display: inline-block;
    line-height: 20px;
}

.global-checkbox input {
    vertical-align: middle;
}

.linkButton {
    background-image: url('../Image/edit 16.gif');
    background-repeat: no-repeat;
    padding-left: 15px;
    display: inline-block;
    background-position: 0 50%;
    height: 18px;
}





/************Pop Window iframe:begin*************/
.global-shielding-layer {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 9999;
}

.global-pop-container {
    position:absolute;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 9999;

    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.global-pop-header {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 27px;
    height: 27px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #000;
    background:linear-gradient(to bottom, #d2dce7 0%, #c1ccd8 100%);
    *background: #d2dce7;
    border-bottom: solid 1px #999;
}

.global-pop-title {
    padding-left:10px;
    float:left;
}

.global-pop-win {
    border-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.global-pop-close {
    float: right;
    width: 18px;
    height: 18px;
}

.global-pop-close .global-icons {
    background-image: url(../Content/Images/global.png);
    background-position: -12px -85px;
    width: 12px;
    height: 12px;
    margin-top: 7px;
    vertical-align:top;
}
/************Pop Window iframe:end*************/



/************Person Detail Menu****************/
.menu-group {
    width: 136px;
}

    .menu-group * {
        color: #333333;
    }

    .menu-group .down-icon, .menu-group .up-icon {
        width: 16px;
        height: 16px;
        line-height: 16px;
        float: right;
        margin-right: 10px;
    }

    .menu-group .down-icon {
        background-position: -287px -118px;
    }

    .menu-group .up-icon {
        background-position: -312px -118px;
    }

    .menu-group .menu-group-name {
    }

        .menu-group .menu-group-name label {
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 80%;
            display: inline-block;
            *display: inline;
            *zoom: 1;
        }

        .menu-group .menu-group-name a {
            padding: 5px 0;
            background-color: #aaa;
            font-weight: bold;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 20px;
            line-height: 20px;
            text-indent: 5px;
        }

            .menu-group .menu-group-name a:hover {
                color: #333333;
            }

    .menu-group .menu-group-items ul, .menu-group .menu-group-items li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu-group .menu-group-items a {
        display: block;
        width: 100%;
        padding: 5px 0;
        text-decoration: none;
        text-indent: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .menu-group .menu-group-items a:hover {
            background-color: #fff;
            color: #333333;
        }

    .menu-group .menu-group-items_selected {
        background-color: #fff;
    }

/***********************************/


/**************User Query***********/
.user-query {
    width: 710px;
    float: left;
}

    .user-query .normal-text, .user-query select {
        width:120px;
    }

    .user-query select {
        height: 25px;
        vertical-align:top;
    }

    .user-query div.cell {
        float: left;
        margin: 0;
        padding: 0;
    }

    .user-query div.edit-title, .user-query div.edit-ctr {
        height: 30px;
        line-height: 30px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        float: left;
    }

    .user-query div.edit-title {
        width: 80px;
        padding-right: 5px;
        text-align:right;
        white-space: nowrap;
    }

    .user-query .label {
        overflow:hidden;
    }

    .user-query div.edit-ctr {
        width: 150px;
        padding-top: 2px;
    }

        .user-query div.edit-ctr .normal-text, .user-query div.edit-ctr .global-icons {
            vertical-align: top;
        }
        .bg-ui-help-icon.help-info-sign
    {
        width: 16px;
        height: 14px;
        background-position: -165px -32px;
        display: inline-block;
        position: relative;
        top: 5px;
    }


    .bg-ui-help-icon
    {
        width: 14px;
        height: 16px;
        float: left;
        background: url(../Content/images/bg-ui-icon.png) no-repeat 0 0;
        background-position: -165px -32px;
    }

/***********************************/

.multi-unit-selector {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    line-height: 25px;
    height: 25px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon-toggle-open, .icon-toggle-close {
    background-repeat: no-repeat;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 20px;
    height: 20px;
}

.icon-toggle-open {
    background-image: url(../image/down_0.gif);
}

.icon-toggle-close {
    background-image: url(../image/up_0.gif);
}

.TDESSLine {
    background-color: #aaaaaa;
}

.TableWithBackColorNoBorder {
    background-color: #EDEDF0;
    width: 100%;
    height: 100%;
}

ul.list-flow {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    ul.list-flow li {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: 5px;
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

a.list-item {
    display: block;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
}

a:hover.list-item {
    text-decoration: none;
    background-color: #f1dc7a;
}

.list-item .choose-label {
    display: block;
    width: 100%;
}

.choose-label {
    font-weight: normal;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

    .choose-label input {
        padding: 0;
        margin: 0;
        margin-right: 3px;
        vertical-align: middle;
    }

	/*****公用查询控件相关宽度******/
	.uc_condition_td
	{
		width:80px;*width:75px;
		padding-right: 5px;
	}
    .uc_condition_small_td
    {
        width:60px;*width:55px;
    }
     .uc_condition _long_td
	{
		width:90px;*width:85px;
		padding-right: 5px;
	}
	.uc_control_td
	{
		width:150px;
	}

	.uc_control_width
	{
		width:120px;
	}
	/**暂时不使用***/
	.uc_condition_div
	{
		width:80px;
		padding-right: 5px;
		overflow:hidden;
	}
	/*****公用查询控件相关宽度******/
